<% layout('layout') -%>

<!-- main picture -->
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner" role="listbox">
     <div class="item active">
       <!-- <img class="first-slide" src="" alt="Records"> -->
       <div class="container">
         <div class="carousel-caption">
           <h1> Shop Smart, Save Big!</h1>
            <p>Create an account to shop our great selection</p>
           <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a></p>
         </div>
       </div>
     </div>
   </div> <!-- end main picture -->
</div>

   <div class="container">

     <div class="row featurette">
       <div class="col-sm-12">
         <h2 class="featurette-heading">What We Offer</h2>
         <div class="col-md-6">
           <h3>Create an account to shop our collection of records</h3>
           <p>Love music? Can't pick a favorite genre? We have records across multiple decades and styles. Create an account to shop our collection today.</p>
         </div>

         <div class="col-md-6">
           <img class="center-block img-responsive" src="/img/feat-record.png" alt="record">
         </div>

       </div>
     </div>
   </div>
